{% extends "base.html" %}
{% block content %}
<form method="POST">
  <p>
    Clone to what hostname?
    <input type="text" name="new_hierarchy" />
  </p>
  <p>
    Copy user permissions?
    <input type="checkbox" name="copy_userperms" />
  </p>
  <input type="submit" value="Clone it!" />
</form>

<div class="alert"><b>Warning!</b>
Cloning is still a bit rough around the edges. In particular, uploaded
assets like images don't actually get cloned. So be prepared to do a
bit of cleanup on the newly cloned site.</div>


{% endblock %}
