{% extends 'base.html' %}
{% block title %}Edit Group{% endblock %}
{% block content %}

<h1>Group: {{standgroup.group.name}}</h1>

<form action="." method="post" class="well form-inline">

<label>Access Level:
<select name="access">
<option value="student"{% ifequal standgroup.access 'student' %}
	selected="selected"{% endifequal %}>student</option>
<option value="instructor"{% ifequal standgroup.access 'instructor' %}
	selected="selected"{% endifequal %}>instructor</option>
<option value="admin"{% ifequal standgroup.access 'admin' %}
	selected="selected"{% endifequal %}>admin</option>
</select>
</label>

<input type="submit" value="save" class="btn btn-primary"/>
</form>

<form action="delete/" method="post" class="well">
<input type="submit" value="delete" class="btn btn-danger"/>
</form>
{% endblock %}
