{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Edit Stand{% endblock %}
{% block content %}
<form action="." method="post" class="well form-horizontal">

<h1>Edit Stand</h1>


{{form|bootstrap}}

<input type="submit" value="save" class="btn btn-primary" />

</form>
<p><a href="users/">Manage users</a></p>
<p><a href="groups/">Manage groups</a></p>
<p><a href="blocks/">Manage Available Pageblocks</a></p>
<p>Or go to the <a href="/edit/">Page edit interface</a></p>
{% if is_seed_stand %}<p>you can also <a href="add/">create a new Stand</a></p>{% endif %}
<ul>Coming soon:
<li>export and import</li>
<li>flatpages</li>
<li>track user progress (and admin/instructor view)</li>
</ul>

<p><a href="delete/" class="btn btn-danger" >Delete this Stand</a></p>

<br />
<br />

{% endblock %}

			{% block navrightextra %}
<li><a href="/" class="btn-success">View Site</a></li>
			{% endblock %}
