{% extends 'base.html' %}
{% block title %}Edit Stand{% endblock %}
{% block content %}
<form action="." method="post">
<table>
{{form.as_table}}
</table>
<input type="submit" value="save" />
</form>
<p><a href="users/">Manage users</a></p>
<p><a href="groups/">Manage groups</a></p>
<p><a href="blocks/">Manage Available Pageblocks</a></p>
<p>Or go to the <a href="/edit/">Page edit interface</a></p>
{% if is_seed_stand %}<p>you can also <a href="add/">create a new Stand</a></p>{% endif %}
<ul>Coming soon:
<li>export and import</li>
<li>flatpages</li>
<li>track user progress (and admin/instructor view)</li>
</ul>

<p><a href="delete/">Delete this Stand</a></p>

{% endblock %}
