{% extends 'base.html' %}

{% block title %}Manage Blocks{% endblock %}
{% block content %}
<form action="." method="post" class="well">
<fieldset>
    <legend>Manage PageBlock Availability</legend>

{% for block in all_blocks %}
<div class="control-group">
      
        <label class="checkbox"><input type="checkbox" class="input-xlarge" 
							 name="{{block.name}}"
							 {% if block.enabled %}checked{% endif %}
							 >
				{{block.name}}</label>
    </div>

{% endfor %}


<input type="submit" value="save" class="btn btn-primary" />
</fieldset>
</form>
{% endblock %}
