{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Users{% endblock %}
{% block content %}
<h1>Users</h1>
<h2>Add User</h2>
<form action="add/" method="post" class="well form-inline">
<table>
<tr>
<td>
<b>Select existing user</b><br />
<select name="user">
<option value="" selected="selected">Select existing user</option>
<option value="">or Add by UNI</option>
{% for u in all_users %}
<option value="{{u.username}}">{{u.last_name}}, {{u.first_name}} ({{u.username}})</option>
{% endfor %}
</select></td>
<td>
<b>or enter UNI</b><br />
<input type="text" size="5" name="uni" />
<td>
<b>access level</b><br />
<select name="access">
<option value="student">student</option>
<option value="instructor">instructor</option>
<option value="admin">admin</option>
</select></td>
<td>
<input type="submit" value="add" class="btn btn-primary" />
</td></tr>
</table>
</form>


{% if stand.standuser_set.count %}
<h2>Existing Users</h2>
<table class="table-striped table-bordered">
	<thead>
		<tr>
			<th>User</th>
			<th>Access Level</th>
		</tr>
	</thead>
	<tbody>
{% for standuser in stand.standuser_set.all %}
<tr class="{% cycle 'even' 'odd' %}">
<th>
<a href="{{standuser.id}}/">{% if standuser.user.first_name %}
{{standuser.user.last_name}}, {{standuser.user.first_name}} 
({{standuser.user.username}})
{% else %}
{{standuser.user.username}}
{% endif %}</a>
</th>
<td>{{standuser.access}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
