{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
<h1>Groups</h1>
<h2>Add Group</h2>
<form action="add/" method="post" class="well" >
<table>
<tr>
<td>
<b>Select existing group</b><br />
<select name="group">
<option value="" selected="selected">Select existing group</option>
{% for g in all_groups %}
<option value="{{g.id}}">{{g.name}}</option>
{% endfor %}
</select></td>
<td>
<b>access level</b><br />
<select name="access">
<option value="student">student</option>
<option value="instructor">instructor</option>
<option value="admin">admin</option>
</select></td>
<td>
<input type="submit" value="add" class="btn btn-primary" />
</td></tr>
</table>
</form>

{% if stand.standgroup_set.count %}
<h2>Existing Groups</h2>
<table class="table-striped table-bordered">
	<thead>
		<tr>
			<th>group</th>
			<th>access level</th>
		</tr>
	</thead>
	<tbody>
{% for standgroup in stand.standgroup_set.all %}
<tr>
<th>
<a href="{{standgroup.id}}/">{{standgroup.group.name}}</a>
</th>
<td>{{standgroup.access}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
