header#masthead
{
	 height: 150px;
	 background: url('../img/bg_header.jpg') left top no-repeat;
}

header h1 {
		display: none;
}

header h4 {
		display: none;
}

html {
		height: 100%;
}
body {
background-color: #eee;
height: 100%;
}

body > .container {
background-color: #fff;
min-height: 100%;
padding-left: 0px;
padding-right: 0px;
}

#content {
min-height: 100%;
}

a { color: green; }
a:hover { color: green; }

.navbar-fixed-top {
  margin-bottom: 0px;
}

#primarynav  {
		background-color: green;
		background-image: none;
    margin-top: 0px;
		margin-bottom: 0px;
		border: 0px;
}

#primarynav li.active a {
		background-color: #8c8;
		color: black;
}

#primarynav a {
   color: white;
}
#primarynav a:hover {
color: #fbf523;
}

#primarynav .admin-link {
  background-color: #333;
}
#primarynav .instructor-link {
  background-color: #f93;
}

.controls textarea {
		width: 100%;
}
.controls input[type="text"] {
		width: 95%;
}
.form-inline .controls input[type="text"] {
		width: 60%;
}

.big-modal {
   width: 940px;
   margin-left:-470px;
	 max-height: 600px;
	 margin-top: -300px;
}

.correctanswer {
  background-color: #E6F2D8;
}

.incorrectanswer {
  background-color: #fdd;
}
