header#masthead
{
	 height: 150px;
	 width: 100%;
	 background-color: green;
	 background: url('../img/bg_header.jpg') left top no-repeat;
}

header h1 {
		display: none;
}

header h4 {
		display: none;
}

body {
background-color: #eee;
}

body > .container {
background-color: #fff;
}

a { color: green; }
a:hover { color: green; }

.navbar-top {
  margin-bottom: 0px;
}

#primarynav .navbar-inner {
		background-color: green;
		background-image: none;
}

#primarynav li.active a {
		background-color: #8c8;
		color: black;
}

#primarynav a {
   color: white;
	 background-color: #696;
}
#primarynav a:hover {
color: #fbf523;
}

.controls textarea {
		width: 100%;
}
.controls input[type="text"] {
		width: 95%;
}
.form-inline .controls input[type="text"] {
		width: 60%;
}
