Django==1.7
lxml==3.2.3
httplib2==0.7.7
restclient==0.11.0
feedparser==4.1
Markdown==2.3.1
simplejson==3.4.0
smartypants==1.6.0.2
uuid==1.30
psycopg2==2.5.1
nose==1.3.0
versiontools==1.8.2
statsd==2.0.2
coverage==3.5.3
pyflakes==0.7.3
pep8==1.4.6
mccabe==0.2.1
flake8==2.1.0
unittest2==0.5.1
logilab-common==0.59.0
logilab-astng==0.24.1
pylint==0.26.0
fuzzywuzzy==0.1
sure==1.1.7
ipython==0.13.2
ipdb==0.7
extras==0.0.3
python-mimeparse==0.1.4
testtools==0.9.35
testscenarios==0.4
python-subunit==0.0.18
selenium==2.29.0
Genshi==0.7
epubbuilder==0.1.4
Pillow==2.3.0
python-ldap==2.4.13
urllib3==1.7.1
httpretty==0.8.0
six==1.2.0
sqlparse==0.1.11

django-treebeard==2.0b2
django-smartif==0.1
djangowind==0.13.2
sorl==3.1
tagging==0.3-pre
template_utils==0.4p2
typogrify==1.0
django-staticmedia==0.2.2
django-indexer==0.2.1
django-templatetag-sugar==0.1
django-paging==0.2.2
raven==4.0.3
django-nose==1.2
django-markwhat==1.0
django-pagetree==1.0.1
django-pageblocks==1.0.0
django-quizblock==0.9.0
django-careermapblock==0.2.17
django-fridgeblock==0.3.3
django-appconf==0.6
django_compressor==1.4
django-annoying==0.8.0
django-statsd-mozilla==0.3.11
django-bootstrap-form==3.1.0
django-debug-toolbar==1.1
django-smoketest==0.2.2
django-jenkins==0.15.0
django-stagingcontext==0.1.0
django-waffle==0.9.0
django-impersonate==0.8.0
django-extensions==1.1.1
django-likertblock==0.1.0
