Django==1.7.10
lxml==3.4.4
httplib2==0.9.1
restclient==0.11.0
feedparser==5.2.0
Markdown==2.6.2
simplejson==3.7.3
uuid==1.30
psycopg2==2.6.1
versiontools==1.9.1
statsd==3.1
coverage==3.7.1
pyflakes==0.8.1
pep8==1.5.7
mccabe==0.3.1
flake8==2.2.5
unittest2==0.5.1
logilab-common==0.59.0
logilab-astng==0.24.1
pylint==1.4.1
fuzzywuzzy==0.6.0
sure==1.2.12
ipython==3.0.0
ipdb==0.8
extras==0.0.3
python-mimeparse==0.1.4
testtools==1.8.0
testscenarios==0.5.0
python-subunit==1.1.0
selenium==2.46.1
Genshi==0.7
epubbuilder==0.1.4
Pillow==2.8.1
python-ldap==2.4.19
urllib3==1.10.4
httpretty==0.8.10
six==1.9.0
sqlparse==0.1.14
astroid==1.3.6
pyasn1==0.1.8
pyOpenSSL==0.15.1
ndg-httpsclient==0.4.0

django-treebeard==3.0
djangowind==0.13.3
sorl==3.1
tagging==0.3-pre
django-staticmedia==0.2.2
django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
raven==5.2.0
django-markwhat==1.4
django-pagetree==1.1.7
django-pageblocks==1.0.3
django-quizblock==1.1.3
django-careermapblock==0.2.17
django-fridgeblock==0.3.3
django-appconf==1.0.1
django-compressor==1.5
django-annoying==0.8.3
django-statsd-mozilla==0.3.14
django-bootstrap-form==3.2
django-debug-toolbar==1.3.2
django-smoketest==0.3.0
django-jenkins==0.17.0
django-stagingcontext==0.1.0
django-waffle==0.10.1
django-impersonate==0.9.1
django-extensions==1.4.9
django-likertblock==0.1.1
