{% extends "base.html" %}
{% block title %}{{section.label}} (edit){% endblock %}
{% block js %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">
var saveOrderOfChildren = function() {
    var url = "{% url reorder-section-children section.id %}?";
    var worktodo = 0;
    jQuery("#children-order-list li").each(function(index,element) {
       worktodo = 1;
       var id = jQuery(element).attr('id').split("-")[1];
       url += "section_id_" + index + "=" + id + ";";
    });
    if (worktodo == 1) {
        var req = new XMLHttpRequest();
        req.open("POST",url,true);
        req.send(null);
    }
};

var saveOrderOfPageBlocks = function() {
    var url = "{% url reorder-pageblocks section.id %}?";
    var worktodo = 0;
    jQuery("#edit-blocks-tab div").each(function(index,element) {
      worktodo = 1;
      var id = jQuery(element).attr('id').split("-")[1];
      url += "pageblock_id_" + index + "=" + id + ";";
    });
    if (worktodo == 1) {
        /* only bother submitting if there are elements to be sorted */
        var req = new XMLHttpRequest();
        req.open("POST",url,true);
        req.send(null);
    }

}

</script>

<style type="text/css">
	#edit-blocks-tab .draggable { background-color: #ddd; }
	.draghandle {float: left;}
	#children-order-list {list-style-type: none; margin: 0; padding: 0;}
	#children li { margin: 0 3px 3px 3px; padding: 0.4em;
	padding-left: 1.5em; 
          background-color: #ddd;
	}
	#children li span { position: absolute; margin-left: -1.3em; }
	.dragging {border: #f60 solid 1px;}
	</style>
{% endblock %}

{% block primarynavtabs %}

<ul class="globalnav">
  {% for section in modules %}
  <li{% ifequal section.id module.id %} class="active"{% endifequal %}><a href="/edit{{section.get_absolute_url}}">{{section.label}}</a></li>
  {% endfor %}
</ul>

{% endblock %}


{% block sidenav %}
	<!-- ###### Secondary Navigation ###### -->
	<div id="secondary_navigation">
		<div id="fadetop"></div>
		<div class="block">
			<h3>Sections</h3>
{% with "/edit" as menu_base %}
{% include "main/menu.html" %}
{% endwith %}
		</div><!-- div id="block" -->
		<div id="fadebottom"></div>
	</div><!-- div id="secondary_navigation" -->
{% endblock %}


{% block content %}
<a href="{{section.get_absolute_url}}">view page</a>
<h1>{{ section.label }}</h1>

<div id="tabber">

<ul>
{% if section.pageblock_set.count %}
  <li><a href="#edit-blocks-tab">Edit Blocks</a></li>
{% endif %}
  <li><a href="#children-tab">Children</a></li>
  <li><a href="#add-pageblock-tab">Add Pageblock</a></li>
  <li><a href="#edit-page-tab">Edit Section</a></li>
</ul>

{% if section.pageblock_set.count %}
<div id="edit-blocks-tab"/>
{% for block in section.pageblock_set.all %}
<div class="block-edit draggable" id="pageblock-{{block.id}}">
<table width="100%" border="0"><tr><td><span title="drag to reorder pageblocks" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span></td>
<td align="right">
<form action="{% url delete-pageblock block.id %}" method="post">
<input type="submit" value="delete block {{block.ordinality}}" />
</form></td></tr>
<tr>
<td>
{% if block.block.exportable %}
<a href="{% url export-pageblock-json block.id %}">export json</a>
{% endif %}
</td>
<td>
{% if block.block.importable %}
<a href="{% url import-pageblock-json block.id %}">import json</a>
{% endif %}
</td>
</tr>
</table>
<form action="{% url edit-pageblock block.id %}" method="post"
{% if block.edit_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
<table width="100%">
{{ block.default_edit_form.as_table }}
{% with block.edit_form as ef %}
{{ ef.as_table }}
{% if ef.alt_text %}
<tr><td colspan="2">
{{ ef.alt_text|safe }}
</td></tr>
{% endif %}
{% endwith %}
</table>
<input type="submit" value="save" />
</form>
</div>
{% endfor %}
</div>
{% endif %}
<div id="children-tab">
<ul id="children-order-list">
{% for child in section.get_children %}
<li class="draggable"
    id="child-{{child.id}}"><span title="drag to reorder pageblocks" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span>[<a href="/pagetree/delete_section/{{child.id}}/">delete</a>]
  {{child.label}}
</li>
{% endfor %}
</ul>

<form action="{% url add-child-section section.id %}" method="post">
<table>
{{ section.add_child_section_form.as_table }}
</table>
<input type="submit" value="add child section" />
</form>
</div>


<div id="add-pageblock-tab">

{% for blocktype in available_pageblocks %}
{% if blocktype %}
<form action="{% url add-pageblock section.id %}"
{% if blocktype.add_form.is_multipart %}
enctype="multipart/form-data"
{% endif %}
method="post">
<fieldset>
  <legend>add {{ blocktype.display_name }}</legend>
<input type="hidden" name="blocktype" value="{{blocktype.display_name}}"/>
<table width="100%">
{{section.add_pageblock_form.as_table}}
{{blocktype.add_form.as_table}}
</table>
<input type="submit" value="add {{blocktype.display_name}}" />
</fieldset>
</form>
{% endif %}
{% endfor %}
</div>

<div id="edit-page-tab">
<form action="{% url delete-section section.id %}" method="post">
<input type="submit" value="delete this page" />
</form>

<form action="{% url edit-section section.id %}" method="post">
<fieldset><legend>Edit Page</legend>
<table>
{{ section.edit_form.as_table }}
</table>
<input type="submit" value="save" />
</fieldset>
</form>
</div>

</div>

{% endblock %}

{% block content-nav %}

{% if section.get_previous %}
<a href="{% url edit-page section.get_previous.get_path %}" id="previous">« {{section.get_previous.label}}</a>
{% endif %}

{% if section.get_next %}
<a href="{% url edit-page section.get_next.get_path %}" id="next">{{section.get_next.label}} »</a>
{% endif %}

<script type="text/javascript">
jQuery(function() {
  jQuery("#children-order-list").sortable({
    containment : 'parent'
    ,axis : 'y'
    ,tolerance: 'pointer'
    ,activeClass: 'dragging'
    ,handle: '.draghandle'
    ,stop: function (event,ui) { saveOrderOfChildren();}
  });
  jQuery("#children-order-list").disableSelection();
  jQuery("#edit-blocks-tab").sortable({
    items : 'div'
    ,axis: 'y'
    ,containment: 'parent'
    ,handle: '.draghandle'
    ,activeClass: 'dragging'
    ,tolerance: 'pointer'
    ,stop: function (event,ui) { saveOrderOfPageBlocks();}
  });
  jQuery("#tabber").tabs();

  jQuery("#edit-blocks-tab").disableSelect();
});
</script>

{% endblock %}
